.dark {
  --white: rgb(34, 34, 34);

  --background: #1a1a1a;

  --gray-50: #494d4b;
  --gray-100: #808080;
  --gray-200: #afb2b1;
  --gray-500: #e6e8eb;
  --gray-800: #f7f8fa;
}

.light {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;
}

.wrapper {
  display: flex;

  main {
    flex: 1;
  }

  background: var(--background);
}
